@font-face {
    font-family: 'fira_sansbold';
    src: url("../assets/fonts/fira/firasans-bold-webfont.woff2") format('woff2'), url("../assets/fonts/fira/firasans-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansregular';
    src: url("../assets/fonts/fira/firasans-regular-webfont.woff2") format('woff2'), url("../assets/fonts/fira/firasans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eb_garamondbold';
    src: url('../assets/fonts/ebgaramond/ebgaramond-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/ebgaramond/ebgaramond-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eb_garamondregular';
    src: url('../assets/fonts/ebgaramond/ebgaramond-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/ebgaramond/ebgaramond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
