@import "../bootstrap/_mixins";

#redactie-content {
    a {
        text-decoration: none;
        color: #424242;

        .card {
            border-radius: 0;
            border: none;

            .redactie-content-info {
                background-color: $gray-100;
                padding: 2rem 1rem 1rem;
                position: relative;
                border-bottom: 1px solid $gray-300;
                border-left: 1px solid $gray-300;
                border-right: 1px solid $gray-300;

                .card-title {
                    color: #424242;
                    font-weight: bold;
                }

                .redactie-date {
                    position: absolute;
                    background-color: theme-color('secondary');
                    top: -15px;
                    padding: 0.2rem 1rem;
                    color: #fff;
                    left: 0;

                    &::after {
                        content: '';
                        display: block;
                        background-color: transparent;
                        height: 100%;
                        top: 0;
                        z-index: 9999;
                        position: absolute;
                        right: -20px;
                        border-left: 10px solid theme-color('secondary');
                        border-bottom: 14px solid transparent;
                        border-top: 15px solid theme-color('secondary');
                        border-right: 10px solid transparent;
                    }
                }
            }

            .card-img-overlay {
                top: auto;
                font-weight: bold;
                padding: 0.65rem 1.25rem;

                h6 {
                    margin-bottom: 0;
                }
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 20px;
            }
        }
    }
}
